
 #sidenav a {
    position: absolute;
    left: -160px;
    transition: 0.5s;
    padding: 22px 30px 22px 46px;
    width: 240px;
    text-decoration: none;
    font-size: 22px;
    font-weight: 400;
    font-family: 'Pacifico', sans-serif;
    color: #444;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    z-index: 10;
}

#sidenav a:hover {
    left: 0;
}
#bedroom, #living-room, #dining-room, #outdoor, #bathroom, #decorations, #bar {
    background: #ADA996;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);
    background: linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);     
}

#bedroom {
    top: 160px;
}

#living-room {
    top: 240px;
}

#dining-room {
    top: 320px;
}

#outdoor {
    top: 400px;
}
#bathroom {
    top: 480px;
}
#decorations {
    top: 560px;
}
#bar {
    top: 640px;
}


.card {
    margin-bottom: 20px;
    cursor: pointer;
}
.card:hover {
    box-shadow: 1px 2px 3px 2px #ddd; 
    transform: scale(1.03);
}
.products .row .card img {
    height: 300px;
}
.products .row .card .card-text {
    font-size: 24px;
    color: #666;
    font-family: 'Pacifico', sans-serif;
} 
.products .row .col-12 .show {
    display: block;
}
.text-muted {
    font-size: 24px;
}
sup {
    font-size: 18px;
    font-weight: bold;
    color: rgb(218, 202, 115);
    text-shadow: 1px 1px 1px rgb(59, 59, 59);
}
#filter {
    display: flex; 
    justify-content: center;
}
#filter .btn{
    background-color: #999;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 8px;
    outline: none;
}
#filter .btn:hover {
    background-color: #666;
}
#filter .btn .active {
    background-color: #666;
     color: white;
  } 
