
@import "sections/nav.css";
@import "sections/footer.css";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
    padding: 6rem 0;
}
.wishlist {
    width: 70%;
    margin: 0 auto;
    padding-bottom: 7rem;
}
.wishlist h3 {
    font-size: 5.3rem;
    color: #777;
    text-align: center;
    font-family: 'Cabin', sans-serif;
}
.table tbody > tr > th > img {
    width: 80px;
    height: 70px;
}
.table tbody > tr > td {
    vertical-align: middle;
}